/*speech*/
.speech {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: black;
}
/*song*/
.song {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}
.song1{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}
.direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    background-color: beige;
}
.name{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: black;
}
.direction:hover{
    background-color:cornsilk;
    color:violet;
}
/* characters */
.BUT{
    color: rebeccapurple;
    font-family: 'CALIBRI', Times, serif;
    font-size: medium;
}
.BUT:hover{
    background-color:bisque;
    color:red;
    border: 3px, snow;
    filter:brightness(2px)
}

.CAPT{
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}




